__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/
htmlcov/
.coverage
.coverage.*
*.db
.pytest_cache/
.ruff_cache/
.mypy_cache/
src/tissage_cosmique/_version.py
examples/.ipynb_checkpoints/
*.joblib
*.keras
*.pkl
